<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <node>
    <!--配置文件路径-->
    <path>e:\Web.config</path>
    <!--配置类型(connectionStrings 或 appSettings)-->
    <type>connectionStrings</type>
    <!--配置文件内节点名称-->
    <name>ApplicationServices</name>
    <!--需同步的dbkey，由服务器分配-->
    <dbkey>web_query_90</dbkey>
    <!--需同步的数据库IP-->
    <sip>127.0.0.1</sip>
    <!--数据库连接串-->
    <format>data source={0},{1};dbname={2};uid={3};pwd={4};User Instance=true;</format>
    <!--密钥-->
    <cryptokey>LjvKKX2dpw3kRYf7PocLzg==</cryptokey>
    <!--加解密类型（aes 或  des）-->
    <cryptotype>des</cryptotype>
    <!--字符串格式化模式（base64 或  encoding）-->
    <cryptostringformat>base64</cryptostringformat>
    <!--加密向量（可以为空字符串）-->
    <cryptoiv></cryptoiv>
    <!--加密成功后替换部分字符串 如(@|+,=|!) 表示把密文中@替换成+ 把=替换成!-->
    <cryptoreplace></cryptoreplace>
  </node>
  <node>
    <path>e:\Web.config</path>
    <type>connectionStrings</type>
    <name>ApplicationServices1</name>
    <dbkey>web_query_90</dbkey>
    <sip>127.0.0.1</sip>
    <format>data source={0},{1};dbname={2};uid={3};pwd={4};User Instance=true;</format>
    <cryptokey>LjvKKX2dpw3kRYf7PocLzg==</cryptokey>
    <cryptotype>des</cryptotype>
    <cryptostringformat>base64</cryptostringformat>
    <cryptoiv></cryptoiv>
    <cryptoreplace></cryptoreplace>
  </node>
</configuration>